<div class="relative flex-col items-center gap-6">

    <button class="flex items-center gap-3">
        <span
            class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-100 font-bold text-indigo-600 dark:bg-[#1f2937] dark:text-indigo-400">
            AD
        </span>

        <span class="font-medium text-gray-700 dark:text-[#c9d1d9]">
            Agapito Hampaslupa Dimagiba
        </span>
    </button>


    <button class="flex items-center gap-3">
        <span
            class="flex h-10 w-10 items-center justify-center rounded-full bg-indigo-100 font-bold text-indigo-600 dark:bg-[#1f2937] dark:text-indigo-400">
            PP
        </span>

        <span class="font-medium text-gray-700 dark:text-[#c9d1d9]">
            Peter Parker
        </span>
    </button>

</div>